<div class="port">
    <div class="port-label">Port:</div>
    <input type="text" class="port-input" id="port-input" value="{{ port }}" />
    <input type="button" class="port-button" id="port-button" value="Set" />
</div>
<div class="scan">
    <input type="button" class="scan-button" id="scan-button" value="Scan Library" />
    <div class="scan-time">Last scanned: Dec 3, 2013</div>
</div>
<div class="info">You can close this window</div>