html, body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}
.port {
    margin: 20px;
}
.port-label {
    margin-right: 8px;
    float: left;
    height: 24px;
    line-height: 24px;
    font-size: 16px;
}
.port-input {
    width: 200px;
    font-size: 12px;
}
.scan {
    margin-left: 20px;
}
.scan-button {
    float: left;
    margin-right: 10px;
}
.scan-time {
    float: left;
    margin-top: 3px;
}
.info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    text-align: center;
    font-size: 11px;
}